.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.logo:hover {
    color: #53c28b;

}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link:focus,
.link:hover {
    color: #53c28b;
    border-bottom: 1px solid #53c28b;
    margin-top: 1px;
}


.logout {
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: #fff;
    cursor: pointer;
}